<p class='countries-header'>Найдены совпадения, пожалуйста выберите страну
  из списка:</p>
<ul class='country-list' data-value='country-list'>
  {{#each this}}
    <li class='country'>{{this.name}}</li>
  {{/each}}
</ul>